<!-- Ref: I haven't written html files in forever. I used premade templates available online  -->
<!DOCTYPE html>
<html>
<head>
    <title>Password Stats</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>

<div class="header-bar">
    <h1>Navigate</h1>
    {{template "navbar"}}
</div>

<h1>Password Submission Stats</h1>

{{if .Passwords}}
<ul>
    {{range .Passwords}}
    <li>{{.}}</li>
    {{end}}
</ul>

<p><strong>Total Submitted:</strong> {{.PasswordCount}}</p>

{{else}}
<p>No stats available yet.</p>
{{end}}

</body>
</html>
